
export DOCKER_USER='docker_userid'
export DOCKER_PASS='docker-password'
export AWS_REGION='us-east-1'
export AWS_ACCESS_KEY_ID=XXXXXX
export SECRET_ACCESS_KEY=XXXXXX
export JDBC_USER=username
export JDBC_PASSWORD=password
export JDBC_DB=acmedb
export JDBC_URL="mysql://$JDBC_USER:$JDBC_PASSWORD@0.0.0.0:3306/$JDBC_DB"
export JDBC_DRIVER='com.mysql.jdbc.Driver'
export KINESIS_STREAM_NAME='stream-name'
